body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00003a;
  color: white;
}

.main {
  height: 100%;
  flex: 1 1 0%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #00003a;
  color: white;
}
